:root {
    --bg-color: #f0f0f0;
    --bg-color-cv: #ffffff;
    --fg-color: #00629b;
    --fg-color-dark: #023b5b;
    --fg-color-body: #0a0a0a;
    --fg-color-title-sm: #688293;

}

[data-theme='dark'] {
    --bg-color: #191919;
    --bg-color-cv: #0a0a0a;
    --fg-color: #00629b;
    --fg-color-dark: #00629b;
    --fg-color-body: rgba(250,250,250,0.9);
    --fg-color-title-sm: #688293;
}
